.right-div {
    float: right;
    background-color: #ffffff;
    width: 60%;
}

.top-navbar {
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-color {
    color: #cecece;
}

.user-text-bg {
    background: #f7f7f7;
}

.area-text {
    height: 70px;
}

.title-text-color {
    color: #e1e1e1;
}
.input-group-width{
    width: 45%;
}